# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Android files
android/.gradle
android/build/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.*

# iOS files
ios/.generated/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/build/
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/

# macOS files
macos/Flutter/ephemeral/
macos/Flutter/flutter_export_environment.sh
macos/Flutter/GeneratedPluginRegistrant.*
macos/Pods/
macos/Runner/GeneratedPluginRegistrant.*

# Web files
/web:build/

# Windows files
windows/flutter/ephemeral/

# Linux files
linux/flutter/ephemeral/
linux/.dart_tool/
linux/Flutter/ephemeral/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/libraries

# VSCode
.vscode/

# Packages
*.tar.gz
*.zip
*.rar

# pubspec.lock files should not be ignored for library packages.
# Uncomment the following line if this is an application.
# pubspec.lock
